{% load widget_tweaks %}

{% block body %}
  {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% if field.help_text %}
          <small class="help-block">{{ field.help_text|safe }}</small>
        {% endif %}
          {% for error in field.errors %}
          <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
{% endblock %}