{% extends "base.html" %}

{% block title %}Django Pop - Ads list{% endblock %}

{% block body %}

    <h1>{{ tittle }}</h1>
    <p>{{ claim }}</p>

    {% for post in object_list %}



<article id="{{ post.id }}">
                            <div class="card mb-4">
                                <img class="card-img-top" src="/media/{{ post.image }}">
                                <div class="card-body">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    {% for category in post.categories.all %}
                <span class="badge badge-warning">{{ category.name }}</span>
                {% endfor %}
                                    <p class="card-text">{{ post.snippet_text}}</p>
                                    <a href="../..{% url 'blogs' %}{{ post.owner.username }}/{{ post.id }}" class="mr-3 btn btn-warning">Read More &rarr;</a>
                                    <a href="#" data-postId="2" class="btn btn-outline-secondary like">
                                        <i class="fa fa-thumbs-up"></i> Like
                                    </a>
                                </div>
                                <div class="card-footer text-muted meta">


              Posted on {{ post.publication_date }} by
              <a href="#">{{ post.owner.username}}</a>

                                </div>
                            </div>
                        </article>

    {% endfor %}

{% endblock %}