{% extends 'base.html' %}
{% block title %}Django Pop - Home{% endblock %}

{% block body %}

    <h1>{{ tittle }}</h1>
    <p>{{ claim }}</p>

      <table class="table">
        <thead class="thead-light">

        <tbody>
          {% for item in object_list %}
            <tr>
              <td>
                <h4><a href="/blogs/{{ item.user.username }}">{{ item.blog_name }}</a></h4>
                {{ item.blog_description }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}