{% extends 'base.html' %}
{% block body %}

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Blog</th>
            <th>Posts</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
            <tr>
              <td>
                {{ item.blog_name }}
                <small class="text-muted d-block">{{ item.blog_description }}</small>
              </td>
              <td class="align-middle">0</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}